{% extends 'base.html' %}

{% block title %}Game{% endblock %}

{% block body %} 
<h1>Madlib Game</h1>

<form action="/madlib">

    <label><span class="question">Give us the name of a person!</span>
        <input type="text" name="person">
    </label>

    </br>

    <label><span class="question">Pick a color!</span>
        <input type="radio" name="color" value="black">Black
        <input type="radio" name="color" value="purple">Purple
        <input type="radio" name="color" value="neongreen">Neon Green
        <input type="radio" name="color" value="leopard-print">Leopard Print
    </label>

    </br>

    <label><span class="question">Pick your favorite accessory!</span>
        <select name="accessory">
            <option value="fishnets">Fishnets</option>
            <option value="fake Louis Vuitton purse">Fake Louis Vuitton Purse</option>
            <option value="gaudy gold chain necklace">Gaudy Gold Chain Necklace</option>
            <option value="broken umbrella (ella, ella)">Broken Umbrella</option>
            <option value="lopsided Google Glass">Lopsided Google Glass</option>
        </select>
    </label>

    </br>

    <label><span class="question">Pick an adjective!</span>
        <input type="checkbox" name="adjective" value="dirty">Dirty
        <input type="checkbox" name="adjective" value="ketchup-stained">Ketchup-stained
        <input type="checkbox" name="adjective" value="glittery">Glittery
    </label>

    </br>

    <label><span class="question">Pick a place!</span>
        <input type="radio" name="place" value="back alley">Back Alley
        <input type="radio" name="place" value="penthouse">Penthouse
        <input type="radio" name="place" value="limousine">Limousine
        <input type="radio" name="place" value="circus">Circus
    </label>

    <br>

    <label><span class="question">What day is it?</span>
        <select name="day">
            <option value="their burfday">their burfday</option>
            <option value="their first day of work">their first day of work</option>
            <option value="Halloween">Halloween</option>
            <option value="Friday night">Friday night</option>
            <option value="Comic-Con">Comic-Con</option>
        </select>
    </label>

    <br>
    
    <label><input class="buttons" type="submit"></label>
</form>

{% endblock %}